.navbar {
    background: #186751;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    font-family: sans-serif;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #186751;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #007bff !important
}

.container h1 {
    color: #ff0005;
    text-align: center;
    font-weight: 400;
    /*
    border: 1px dashed #777;
    */
    margin-top: 13px;
}

.location {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.header {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;

    background: linear-gradient(45deg, rgba(112, 165, 150, 0.7), rgba(61, 163, 121, 0.34));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.footer {
    background: rgba(61, 163, 121, 0.85);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.home .shubina {
    margin-top: 10px;
    border-radius: 10%
}

.home span {
    display: block;
    color: rgb(0, 44, 24);
    position: absolute;
    left: 115px;
    font-weight: bold;
}

.home .desc {
    padding: 2em;
    border-right: 4px solid rgb(0, 44, 24);;;
}

.home .desc h2 {
    color: #ff0008;
}

.home .desc p {
    line-height: 2;
    color: rgb(0, 44, 24);
    font-family: Arial;
}

.home .carousel-caption a {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ececf6;
}

.about .desc {
    padding: 2em;
}

.about .desc h2 {
    color: #ff0008;
}

.about .desc p {
    line-height: 2;
    color: rgb(255, 255, 255);
}

.contact h2 {
    color: #ff0008;
}

.contact thead {
    color: rgb(0, 44, 24);
}

.contact tbody {
    color: rgb(0, 44, 24);
}

.contact a {
    font-style: normal;
    color: rgb(0, 44, 24);
}

.contact img {
    border-radius: 5%
}

.news h2 {
    color: #ff0008;
}

.news td {
    color: rgb(0, 44, 24);
}

.news a {
    font-style: normal;
    color: rgb(0, 44, 24);
}

.catalog h2 {
    color: #ff0008;
}

.catalog img {
    height: auto;
    max-width: 100%;
    border-radius: 3%
}

.catalog .part {
    background: rgba(27, 103, 68, 0.72) none repeat scroll 0 0;
    border: 1px solid rgba(27, 103, 68, 0.75);
    height: 390px;
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
}

.catalog .part:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.catalog .title {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.catalog .count {
    left: 0;
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.catalog .part .price {
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    color: rgba(0, 44, 24, 0.74);
    font-size: 18px;
    font-weight: bold;
}

.product img {
    height: auto;
    max-width: 100%;
    border-radius: 3%
}

.product h2 {
    color: #ff0008;
}

.product .row {
    font-style: normal;
    color: rgb(0, 44, 24);
}

.product .crit a {
    color: rgb(206, 0, 0);
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.search form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #78ab7d;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #78ab7d;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.search.notfound {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    color: #002c18;
    font-weight: bold;
}

.login {
    text-align: center;
}

.login_button button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 42px;
    height: 42px;
    border: none;
    background: none;
    cursor: pointer;
}

.login_button button:before {
    content: "\f2bd";
    font-family: FontAwesome;
    font-size: 30px;
    color: #F9F0DA;
}

.signup {
    text-align: center;
}

.site_form form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.site_form input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #78ab7d;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.site_form .button {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #78ab7d;
    border-radius: 5px;
    outline: none;
    background: #78ab7d;
    color: #ececf6;
    font-weight: bold;
}

.site_form label {
    font-weight: bold;
    color: #002c18;
    text-align: center;
}