.navbar{ background: #186751;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #186751; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}

.header{
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, rgba(27, 103, 68, 0.5), rgba(61, 163, 121, 0.3));
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color: #ffffff;
}
.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}