* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu {
    background: linear-gradient(45deg, rgba(27, 103, 68, 0.5), rgba(61, 163, 121, 0.3)), url(../public/img/header.jpg);
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    text-decoration: none;
    display: inline-block;
    line-height: 61px;
    padding-left: 10px;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.main-menu li { display: inline-block;}

.main-menu a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: normal;
    color: aliceblue;
    /*
    transition: .3s linear;
    */
}

.bottom-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.bottom-menu li { display: inline-block;}

.bottom-menu a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: normal;
    color: aliceblue;
    /*
    transition: .3s linear;
    */
}

.main {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

table {
    width: 80%;
    border: 1px;
    margin: auto;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1b6744;
    text-align: center
}

a {
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: black;
}